src/by/it/subach/jd02_07/internet_store/orders/Orders.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT orders (order)+>
<!ELEMENT order (number, date, client, goods, paymentstatus)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT client (#PCDATA)>
<!ELEMENT goods (good)>
<!ELEMENT good (name, quantity)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT paymentstatus (#PCDATA)>