src/by/it/subach/jd02_07/internet_store/clients/Clients.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT clients (client)+>
<!ELEMENT client (login, email, password, telnumber, adress)>
<!ELEMENT login (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT telnumber (#PCDATA)>
<!ELEMENT adress (city, street, house, apart, postalindex)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT house (#PCDATA)>
<!ELEMENT apart (#PCDATA)>
<!ELEMENT postalindex (#PCDATA)>