src/by/it/subach/jd02_07/internet_store/catalog/Catalog.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!--<!ELEMENT catalog (consoles)>-->
<!ELEMENT catalog (consoles)>
<!ELEMENT consoles (console)+>
<!ELEMENT console (model, discription, price, weight, quantity,
        manufacturer)>
<!ELEMENT model (#PCDATA)>
<!ELEMENT discription (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT manufacturer (#PCDATA)>