src/by/it/subach/jd02_07/users.dtd

<?xml version="1.0" encoding="utf-8" ?>
<!ELEMENT users (user)+>
<!ELEMENT user (login, email, password, ads)>
<!ELEMENT login (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT ads (ad)+>
<!ELEMENT ad (description, adress, floor, rooms, price, area)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT adress (#PCDATA)>
<!ELEMENT floor (#PCDATA)>
<!ELEMENT rooms (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT area (#PCDATA)>